@mixin loginStylePage {
  border-radius: 0.5rem;
  display: block;
  flex-direction: column;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@mixin flexBox($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  font-weight: bold;
}
@mixin loginFlex {
  display: flex;
  position: relative;
  justify-content: center;
}
@mixin leftRightContent {
  width: 17%;
  overflow: auto;
  height: 100vh;
  position: fixed;
}
@mixin globalUser {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
  &:hover {
    background-color: #dfdfdf;
}
}
@mixin globalUserName {
  color: $globalLightBlack;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
@mixin globalUserOn {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid $globalWhite;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
  &:hover {
    color: greenyellow;
  }
}

@mixin bellKeyFrame {
@keyframes shake {
  0% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(15deg);
  }
}
}

@mixin leftIconStyle {
  .leftContent .container .leftFeatures .friends,
  .market {
    color: #05c505;
  }
  .leftContent .container .leftFeatures .alarm,
  .person,.controller,.crypto,.awards {
    color: #00b8f5fc;
  }
  .leftContent .container .leftFeatures .cloud,.activity {
    color: #d900ff;
  }
  .leftContent .container .leftFeatures .video {
    color: #f5003dfc;
  }
  .leftContent .container .leftFeatures .seeMore {
    color: #b6b5b5;
  }
  .leftContent .container .leftFeatures .poker {
    color: #ff0101b5;
  }
  .leftContent .container .leftFeatures .amazon {
    color: lightslategray;
  }
}
@mixin leftIconDescription {
  .leftContent .container .leftFeatures .iconDescription {
    left: 35px;
    justify-content: center;
    text-align: left;
    &:hover {
      background-image: linear-gradient(
        to right,
        rgba(255, 0, 0, 0),
        rgb(143, 162, 246)
      );
      width: 50%;
      border-radius: 10px;
      height: 1.5rem;
      left: 3rem;
    }
  }
}
@mixin leftContent {
  @media (max-width: 430px) {
    .leftContent {
      position: relative;
      display: flex;
      justify-content: center;
    }
  }
}
@mixin rightContent {
  @media (max-width: 430px) {
    .rightContent {
      position: relative;
      display: flex;
      justify-content: center;
    }
  }
}