$globalLightBlue: lightblue;
$globalWhite: white;
$globalTeal: teal;
$globalOrange: #ffbf00;
$globalRed: red;
$globalLightGrey: lightgrey;
$globalWhitesmoke: whitesmoke;
$globalGrey: #888888;
$globalBlack: #00000000;
$globalDarkBlue: darkblue;
$globalRoyalBlue: royalblue;
$globalLightBlack: #0b0b0b;