* {
    box-sizing: border-box;
}

body {
    height: 3000px;
    background-image: url('city.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(red, yellow, green, blue);
    background-image: radial-gradient(red, yellow, green, blue);
    background-image: radial-gradient(red, yellow);
}

.overflowBox {
    background-color: #aabbcc;
    background-color: #abc;
    width: 300px;
    height: 200px;
    border: 1px solid blue;
    overflow: auto;
    overflow-x: scroll;
    overflow-y: auto;
}

/* Combinators */

.parrentSelector {
    border: 3px solid black;
}

/* direct child */
.parrentSelector > p {
    background-color: aqua;
}

.parrentSelector + p {
    background-color: blueviolet;
}

.parrentSelector ~ p {
    background-color: red;
}

/* Opacity */

.opacityImage {
    width: 200px;
    opacity: 0.7;
    opacity: 0.15;
}

.opacityBox.first {
    opacity: 0.1;
}

.opacityBox.second {
    opacity: 0.5;
}

.opacityBox.third {
    opacity: 0.8;
}

.displayText {
    display: none;
}

.visibilityText {
    visibility: hidden;
}

.opacityText {
    opacity: 0;
}

a[target] {
    background-color: blue;
}

form {
    margin-top: 10px;
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width: 200px;
    display: block;
    margin: 10px;
    background-color: lightseagreen;
}

input[type="submit"] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 15px 20px;
    border: 1px solid teal;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: blueviolet;
}

input[type="text"], select {
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
}

/* Border box */

.noPadding {
    width: 300px;
    height: 100px;
    border: 1px solid red;
}

.withPadding {
    width: 300px;
    height: 100px;
    border: 1px solid red;
    padding: 50px;
}

/* Shaddow effects */

.textShaddow {
    text-shadow: 2px 2px;
    text-shadow: 2px 2px red;
    text-shadow: 2px 2px red, 3px 3px blue;
}

.shaddowBox {
    background-color: lightgray;
    border: 1px solid yellow;
    box-shadow: 10px 10px;
    box-shadow: 5px 5px red;
    box-shadow: 5px 5px red inset;
    box-shadow: 5px 5px red inset, 3px 3px blue, 5px 5px green;
}

/* Transform */

.transformBox {
    width: 300px;
    height: 150px;
    background-color: greenyellow;
    border: 2px solid green;
    margin: 10px;
}

#rotate {
    transform: rotate(20deg);
    transform: rotate(-20deg);
}

/* Transitions */

.transitionBox {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s;
    transition: width 2s, height 4s, transform 6s;
    transition-delay: 2s;
}

.transitionBox:hover {
    width: 300px;
    height: 300px;
    transform: rotate(150deg);
}

/* Animations and keyframes */

.animationBox {
    width: 200px;
    height: 200px;
    background-color: royalblue;
    position: relative;
    animation-name: numelePeCareIlAlegEu;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-iteration-count: infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    animation-delay: -2s;
}

@keyframes numelePeCareIlAlegEu {
    /* Change color animation */

    /* from {background-color: royalblue;}
    to {background-color: red;} */

    /* 0% {
        background-color: red;
    }

    26% {
        background-color: greenyellow;
    }

    55% {
        background-color: hotpink;
    }

    100% {
        background-color: indigo;
    } */

    0% {
        background-color: royalblue;
        top: 0;
        left: 0;
    }

    25% {
        background-color: greenyellow;
        left: 200px;
        top: 0;
    }

    55% {
        background-color: hotpink;
        left: 200px;
        top: 200px;
    }

    73% {
        background-color: yellow;
        top: 200px;
        left: 0;
    }

    100% {
        background-color: indigo;
        top: 0;
        left: 0;
    }
}

.spinnerContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.spinner {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 4px solid teal;
    border-top: 4px solid white;
    border-radius: 50%;

    /* animation for spinner */
    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(80deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.scene {
    width: 150px;
    height: 300px;
    margin-top: 25px;
    perspective: 600px;
    background: lightblue;
    border: 1px solid blue;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card .face {
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 300px;
    text-align: center;
    position: absolute;

    backface-visibility: hidden;
}

.card .front {
    background-color: royalblue;
}

.card .back {
    background-color: grey;
    transform: rotateY(180deg);
}

.scene:hover .card {
    transform: rotateY(180deg);
}

.button {
    margin-top: 25px;
    background-color: royalblue;
    border: 2px solid blue;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 8px 16px;
    transition: 0.5s transform ease-in-out;
}

.button:hover {
    background-color: #0a267b;
    border: rgb(0, 0, 120);
    transform: scale(1.05);
}
