* {
    box-sizing: border-box;
}

.profileCoverInfo {
    position: absolute;
    padding: 75px;
    left: 25%;
}

.profileCoverInfo .coverImage {
    max-width: 100%;
}

.profileCoverInfo .profileUserInfo {
    position: relative;
    cursor: pointer;
}

.profileCoverInfo .profileUserInfo .profileImage {
    position: relative;
    width: 10%;
    left: 2%;
    top: -4rem;
    border: 2px solid white;
}

.profileCoverInfo .profileUserInfo .profileName .name {
    position: relative;
    left: 13%;
    top: -8.5rem;
    font-size: x-large;
}

.profileCoverInfo .profileUserInfo .profileName .friendsNumber {
    position: relative;
    left: 13%;
    top: -8.5rem;
    font-size: medium;
}