.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    .titleSuggestedPages {
        position: relative;
        left: -26rem;
        top: 5rem;
    }

    .suggestedPages {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: auto;
        width: 60rem;
        height: 35rem;
        left: 35rem;
        gap: 1rem;
        border: 2px solid whitesmoke;

        .suggestedPage {
            padding: 0.2rem;

            .suggestedPageText {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                gap: 0.1rem;

                .suggestedPageName {
                    position: absolute;
                    top: -0.2rem;
                }

                .suggestedPageLikes {
                    position: absolute;
                    top: 1.2rem;
                }

            }

            .suggestedPageButton {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                top: 0.4rem;
                margin-left: 2.5rem;
                width: 10rem;
                height: 2rem;
                background-color: lightgray;
                color: black;
                border-radius: 10%;
                border: 1px solid black;
            }
        }
    }

    .titleLikedPages {
        position: relative;
        left: -27rem;
        top: 5.5rem;
    }

    .likedPages {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: auto;
        width: 60rem;
        height: 35rem;
        left: 35rem;
        gap: 1rem;
        border: 2px solid whitesmoke;

        .likedPage {
            padding: 0.2rem;

            .likedPageText {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                gap: 0.1rem;

                .likedPageName {
                    position: absolute;
                    top: -0.2rem;
                }

                .likedPageLikes {
                    position: absolute;
                    top: 1.2rem;
                }

            }

            .likedPageButton {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                top: 0.4rem;
                margin-left: 2.5rem;
                width: 10rem;
                height: 2rem;
                background-color: rgb(59, 112, 247);
                color: white;
                border-radius: 10%;
                border: 1px solid blue;
            }
        }
    }

}

@media only screen and (max-width: 1000px) {
    .pages {
        flex-direction: row;

        .titleSuggestedPages {
            left: 2rem;
            top: -25rem;
        }

        .suggestedPages {
            height: 55rem;
        }

        .titleLikedPages {
            left: 3rem;
            top: -25rem;
        }

        .likedPages {
            height: 55rem;
        }
    }
}

@media only screen and (max-width: 800px) {
    .pages {
        flex-direction: column;

        .titleLikedPages {
            top: 4rem;
            left: -5rem;
        }

        .likedPages {
            width: 20rem;
        }

        .titleSuggestedPages {
            top: 4rem;
            left: -4rem;
        }

        .suggestedPages {
            width: 20rem;
        }
    }
}