@import '../../node_modules/normalize.css/normalize.css';
@import '../scss/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ul {
    list-style: none;

  }

  a {
    text-decoration: none;
    color: $globalLightBlack;
    font-size: 18px;
  }

  /* navbar */
  .navbar {
    background-color: $globalWhitesmoke;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 10;

  }

  .navlink {

    &:hover {
        color: $globalLightGrey;

    }
  }

  /* logo  */
  .logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: $globalRoyalBlue;

    cursor: pointer;
    &:hover {
        color: $globalDarkBlue;

    }
  }
/* logo icon */
  .logoImage {
    position: relative;
    height: 3rem;
    width: 3rem;
    justify-content: left;
    object-fit: contain;
    display: flex;
    &:hover {
        opacity: 0.8;
    }
  }

  /* ul  */
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    justify-content: right;
    align-self: right;
  }

  /* media queries */

  @media screen and (max-width: 780px){

    /* menuItem */
    .menuItem {
      display: block;
      cursor: pointer;
    }

    .bar {
          background-color: #120f0b;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }

    /* adding active class to the bars  */
    .menuItem.active .bar:nth-child(2){
      opacity: 0;
    }
    .menuItem.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .menuItem.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }


    /* navMenu */

    .navMenu{
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 70px;
      left: -100%;
      text-align: start;
      width: 100%;
      transition: 0.7s ease-in-out;
      background-color: aliceblue;
      padding: 10px;
    }

    .navMenu.active{
      left: 0;
    }

    .navMenu li {
      margin: 16px 0;
    }
  }


// header {
//     width: 100%;
//     height: 5rem;
//     background-color: $globalWhitesmoke;
//     box-shadow: 20px 0.3px 0.4px $globalGrey;
//     display: flex;
//     justify-content: right;
//     align-items: center;
//     position: fixed;
//     z-index: 1;

// }



//     .logo {
//         color: $globalLightBlack;
//         font-size: 2rem;
//         left: 2rem;
//         position: relative;
//         display: flex;

//     }

//     .menu {
//         list-style: none;
//         margin: 0;
//         padding: 0;
//         display: flex;
//         align-items: baseline;

//         .menuItem {
//             margin: 0 1rem;

//             a {
//                 text-decoration: none;
//                 color: $globalLightBlack;
//                 white-space: nowrap;
//                 font-weight: bold;


//                 &:global.active {
//                     color: yellow;
//                 }

//                 &:hover {
//                     color: lightblue;
//                 }
//             }
//         }
//     }

