.myDiv {
    background-color: aqua;
    margin: 10px 0;
    /* default display for div elements */
    display: block;
    width: 100px;
    display: inline-block;
}

.mySpan {
    background-color: blue;
    margin: 20px 0;
    width: 100px;
    height: 100px;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

body {
    height: 2000px;
    margin: 0;
}

.container {
    background-color: aqua;
    border: 3px solid black;
    position: relative;
}

div.secondBox {
    background-color: blue;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
}

.secondBox {
   /* margin-top: 25px;
   margin-left: 25px; */
   /* daca top este setat, bottom nu se aplica */
   /* bottom: 50px; */
   top: 50px;
   left: 50px;
   /* daca left este setat, right nu se aplica */
   /* right: 50px; */
   position: absolute;
   /* z-index: -1; */
}

.thirdBox {
    position: relative;
    z-index: 1;
}


.layer1 {
    border: 2px solid red;
    width: 750px;
    height: 500px;
    margin-top: 20px;
}

.layer2 {
    border: 2px solid green;
    width: 550px;
    height: 400px;
    margin-top: 20px;
    position: relative;
}

.layer3 {
    border: 2px solid yellow;
    width: 400px;
    height: 300px;
    margin-top: 20px;
    /* position: absolute; */
}

.layer4 {
    border: 2px solid blue;
    width: 300px;
    height: 200px;
    margin-top: 20px;
    /* position: relative; */
}

.layer5 {
    border: 2px solid purple;
    background-color: lightcoral;
    width: 200px;
    height: 150px;
    border-radius: 50px;
    position: absolute;
    top: 0;
}