
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
   
    .leftSide,
    .rightSide {
        width: 20rem;
        background-color: lightgray;
        height: 100vh;
        padding: 20px;
        overflow-y: auto;
        position: fixed;
        top: 0;
    }

    .leftSide {
        left: 0;
        width: 23%;
    }

    .rightSide {
        right: 0;
        width: 23%;
    }
    

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 5rem;
        
        li {
            padding: 10px 0;
            font-size: 18px;
            color: #333;
            cursor: pointer;
            
            
            &:hover {
                background-color: #ddd;
            }
        }
    }
}
