.leftContainer {
    top: 5rem;
    left: 0;
    width: 20rem;
    height: 90vh;
    border: 5px solid whitesmoke;
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .rightNav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pageName {
        margin-left: 1rem;
    }
}