.profile-page-container {
    height: 200vh;
    // display: flex;
    // justify-content: flex-end; /* Aliniază la stânga */
// position: relative;
    .cover-photo {
        width: 100%;
        height: 300px; /* sau orice înălțime dorești */
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
    }

    .profile-photo {
        position: absolute;
        top: 19rem; /* Ajustează poziția după înălțimea imaginii de copertă */
        left: 12rem; /* Ajustează poziția la stânga */
        width: 150px; /* sau orice dimensiune dorești */
        height: 150px; /* sau orice dimensiune dorești */
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid black;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
           
        }
    }
    // .camera-icon {
    //     // position: absolute;
    //     top: 0;
    //     width: 100px;
    //     right: 0;
    //     z-index: 1; /* Asigurați-vă că iconița camerei foto are un z-index mai mare pentru a fi afișată peste poza de profil */
    //     background-color: rgb(14, 1, 1);
    //     border-radius: 50%;
    //     padding: 5px;
    //     cursor: pointer;
      
    // }
    .profile-details {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 23rem;
        
    }
    .name {
        font-size: 1.5rem; /* sau orice dimensiune dorești */
        font-weight: bold;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .friends {
        font-size: 1.3rem;
        font-weight: bold; /* sau orice dimensiune dorești */
        cursor: pointer;
    }
    .Buttons{
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 2rem;
        margin-right: 34rem;
    }
}
.hr-line {
    height: 3px;
    background-color: gray;
    display: flex;
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
    
}

.ButtonsDet {
    display: flex;
    // justify-content: flex-end;
    padding: 3px; /* Aliniați butoanele la dreapta */
    margin-left: 10rem;
}

.container-details {
    padding: 20px;

    h2 {
        font-size:2rem;
        margin-bottom: 10px;
    }

    p {
        margin: 5px 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.friends-section{

h2{
    margin-left: 44rem;
    font-size: 34px;

}
.friends-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    grid-row-gap: 1px;
   
}

.friend {
    // display: flex;
    text-align: center;
    margin: 5px; 
    // left: 20px;
    cursor: pointer;

    img {
        width: 9rem;
        height: 9rem;
        border-radius: 10%;
        cursor: pointer;
    }

    p {
        margin-top: 5px;
        cursor: pointer;
    }
}
}