header {
    width: 100%;
    height: 5rem;
    background-color: teal;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;

    .logo {
        color: white;
        font-size: 2rem;
        margin: 0;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: baseline;

        .menuItem {
            margin: 0 1rem;

            a {
                text-decoration: none;
                color: white;
                white-space: nowrap;
                font-weight: bold;

                &:global.active {
                    color: yellow;
                }

                &:hover {
                    color: lightblue;
                }
            }
        }
    }
}