* {
    box-sizing: border-box;
}

body {
    height: 2000px;
}

nav.menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav.menu ul li::before {
    content: "🥳";
    background-color: red;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

ul li:hover {
    background-color: yellow;
    border: 1px solid orange;
    border-radius: 10px;
}

/* ul li a:visited {
    color: green;
} */

ul li a:active {
    background-color: green;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Poppins', sans-serif;
}

p::first-letter {
    color: red;
    font-size: xx-large;
}

p::first-line {
    color: blue;
    font-variant: small-caps;
}

p::selection {
    background-color: yellow;
    color: red;
}

p:empty {
    width: 100px;
    height: 20px;
    border: 2px solid red;
}

.firstWord {
    font-size: xx-large;
    color: red;
}

blockquote {
    margin: 0;
    font-style: italic;
    font-size: 1.2rem;
    padding: 40px 80px;
    position: relative;
}

blockquote::before {
    content: open-quote;
    top: 0;
    left: 0;
}

blockquote::after {
    content: close-quote;
    bottom: 0;
    right: 0;
    
}

blockquote::before, blockquote::after {
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 3rem;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

::marker {
    font-size: 24px;
    color: red;
}

table {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}



.portraitImage {
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
}

td:first-child {
    padding: 0;
}

tr:nth-of-type(even) {
    background-color: #ccc;
}

tr:nth-of-type(odd) {
    background-color: lightblue;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

input {
    padding: 10px;
}

input::placeholder {
    color: red;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: pink;
  }
  input:-moz-placeholder {
    /* Firefox 18- */
    color: pink;
  }
  input::-moz-placeholder {
    /* Firefox 19+ */
    color: pink;
  }
  input:-ms-input-placeholder {
    /* IE 10+ */
    color: pink;
  }

  input:focus {
    background-color: aqua;
    border: 1px solid blue;
  }

  input[type="submit"] {
    background-color: blue;
    color: yellow;
    border-radius: 10px;
    border: 1px solid blueviolet;
    width: 150px;
    height: 35px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    opacity: 0.7;
  }

  ul {
    list-style: none;
  }