* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: overwatch;
    src: url(/Session11-13/fonts/BIGNOODLETOO.TTF);
}

h1{
    font-family: overwatch;
    font-size: 50px;
}

body {
    background-image: url('/Session11-13/assets/login\ background.jpg');
}

.formContainer {
    margin: 3rem auto;
    width: 95%;
    max-width: 30rem;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 4px #888;
    padding: 2rem 4rem;
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

.formField {
    margin-bottom: 0.5rem;
}

.formField input {
    background-color: rgb(218, 24, 105);
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    border: 1px solid white;
    width: 100%;
    padding: 0.5rem;
}

.formField.rememberUserField input {
    width: 10%;
}

.formField.rememberUserField label {
    width: 90%;
    text-align: left;
    cursor: pointer;
}

.loginButton {
    background-color: rgb(139, 10, 64);
    border: 1px solid white;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

a strong {
    color: aqua;
}

.registerButton {
    background-color: blueviolet;
    border: 1px solid white;
    padding: 0.5rem 2.5rem;
    display: block;
    margin: 0 auto;
    border-radius: 0.5rem;
    width: 75%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.registerButton:hover {
    opacity: 0.8;
}