@import './scss/mixins';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ui-features {
  @include flexbox();
}

.container {
  @include flexbox();
  flex-direction: column;
  margin-top: 6rem;
  border: 3px solid blue;
  padding: 1.5rem;

  .features {
    @include flexbox();
    gap: 2rem;
    flex-wrap: wrap;
  }
}

.form {
  margin-top: 3rem;
  padding: 10px;
  @include flexbox();
  flex-direction: column;
  gap: 1rem;

  &.invalid {
    border: 1px solid red;
  }

  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
  }
}