#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ui-features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  border: 3px solid blue;
  padding: 1.5rem;
  gap: 2rem;
}