// /* SettingsPage.module.scss */

// .settingsContainer {
//     padding: 20px;
//   }
  
//   .settingsItem {
//     background-color: #f0f0f0;
//     padding: 10px;
//     margin-bottom: 10px;
//   }
  
//   .settingsTitle {
//     font-weight: bold;
//   }
  
//   .settingsDescription {
//     color: #555;
//   }
// SettingsPage.module.scss

.settingsContainer {
  padding: 20px;
}

.settingsItem {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
}

.settingsTitle {
  font-weight: bold;
}

.settingsDescription {
  color: #555;
}

  