* {
    box-sizing: border-box;
}

.mainPost {
    width: 40rem;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    margin: 1rem 0;
    position: relative;
    top: -0.8rem;
    border-radius: 10px;

    .userInfo {
        display: flex;
        margin: 0 1rem;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
            }
        }

        .profilePictureImg {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 0.3rem;
        }

        .contextMenu {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                border: 1px solid teal;
            }

            .dropDownListItems {
                list-style-type: none;
                position: absolute;
                top: 0.3rem;
                right: -7.5rem;
                width: 10rem;
                padding: 0.5rem;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                z-index: 1;

                .dropDownSnooze {
                    width: 7.5rem;
                    height: 1.5rem;
                }

                .dropDownHide {
                    width: 7.5rem;
                    height: 1.5rem;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 0.2rem 1rem;
            align-self: flex-start;
            text-align: justify;
        }

        .imageWrapper {
            position: relative;

            .mainPostImage {
                max-width: 100%;
            }

            .infoIcon {
                cursor: pointer;
                position: absolute;
                right: 3rem;
                color: teal;
                bottom: -1rem;
            }
        }
    }

    .reacts {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem;
    }

    .reactsActions {
        display: flex;
        justify-content: space-around;
        margin: 0.5rem 0;

        .reaction {
            display: flex;
            cursor: pointer;
            padding: 0.2rem;
            border-radius: 5px;
            align-items: center;

            &:hover {
                background-color: lightgray;
            }

            &.blue {
                color: blue;
            }

            ;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .mainPost {
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .mainPost {
        width: 100%;
    }
}