* {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-color: white;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: whitesmoke;
  box-shadow: 20px 0.3px 0.4px #888888;
  width: 100%;
}

.mainSearch {
  display: flex;
  align-items: center;
}
.mainSearch:hover .searchIcon, .mainSearch:focus .searchIcon {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
.mainSearch input[placeholder] {
  text-align: right;
}
.mainSearch input:focus {
  text-align: left;
}
.mainSearch .logo {
  padding: 1rem;
  font-size: 2.5rem;
  color: royalblue;
}
.mainSearch .logo:hover {
  color: darkblue;
}
.mainSearch .searchInput {
  height: 2.5rem;
  border-radius: 3rem;
  padding: 0 3rem;
  border: 2px solid royalblue;
  width: 16rem;
  background-color: whitesmoke;
}
.mainSearch .searchIcon {
  left: 20px;
  position: relative;
  color: #0b0b0b;
  display: flex;
  font-size: 0.9rem;
  width: 8px;
  opacity: 0.5;
}

.navigation,
.links {
  display: flex;
}
.navigation .navIcons,
.links .navIcons {
  font-size: 1.7rem;
  color: royalblue;
  margin: 0 0.5rem;
  justify-content: space-between;
}
.navigation .navIcons:hover,
.links .navIcons:hover {
  color: darkblue;
}
.navigation .navIcons a,
.links .navIcons a {
  border-radius: 50%;
  background-color: lightblue;
  margin: 0 0.35rem;
  display: flex;
  height: 2.6rem;
}
.navigation .navIcons a:hover,
.links .navIcons a:hover {
  background-color: lightblue;
  border: 1px solid royalblue;
}
.navigation .accountSettings,
.links .accountSettings {
  position: relative;
}
.navigation .accountSettings button,
.links .accountSettings button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}
.navigation .accountSettings .accountSettingsButton,
.links .accountSettings .accountSettingsButton {
  padding: 10px 0;
  cursor: pointer;
}
.navigation .accountSettings .accountSettingsButton:hover,
.links .accountSettings .accountSettingsButton:hover {
  background-color: lightblue;
}
.navigation .accountSettings .accountSettingsMenu,
.links .accountSettings .accountSettingsMenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 75px;
  right: 0;
  width: 120px;
  background-color: lightgrey;
}
.navigation .accountSettings .accountSettingsMenu #feedButton:hover,
.links .accountSettings .accountSettingsMenu #feedButton:hover {
  background-color: royalblue;
}
.navigation .accountSettings .accountSettingsMenu #logoutButton:hover,
.links .accountSettings .accountSettingsMenu #logoutButton:hover {
  background-color: royalblue;
}
.navigation .bellIcon,
.links .bellIcon {
  position: relative;
  display: block;
}
.navigation .bellIcon span,
.links .bellIcon span {
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: white;
  font-weight: bold;
}
.navigation .bellIcon:hover,
.links .bellIcon:hover {
  animation: shake 1s forwards;
}
@keyframes shake {
  0% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

main {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  /* Left content */
  /* Right content*/
  /* Friend request */
  /* Birthdays */
  /* chat */
  /* chat users */
  /* Main content*/
}
main .leftContent,
main .rightContent {
  width: 17%;
  overflow: auto;
  height: 100vh;
  position: fixed;
}
main .leftContent {
  left: 0;
  margin-top: 0;
  width: 30%;
}
main .leftContent .container {
  margin-top: -1rem;
  display: flex;
  height: 70%;
  position: relative;
}
main .leftContent .container .leftFeatures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
main .leftContent .container .leftFeatures span {
  font-size: 15px;
  margin-left: 10px;
  width: 8rem;
  position: absolute;
  display: inline-block;
  margin-top: 10px;
}
main .leftContent .container .leftFeatures .leftIcons {
  position: relative;
  font-size: 30px;
  align-items: center;
  display: inline-block;
  width: 2.5rem;
  margin-left: 4px;
}
main .leftContent .container .leftFeatures .messiPhoto {
  border-radius: 50%;
  width: 2.5rem;
}
main .leftContent .container .leftFeatures .messiName {
  position: absolute;
  display: flex;
  text-align: left;
  height: 1rem;
  width: 20%;
  top: 0.2rem;
  left: 2.5rem;
}
main .leftContent .copyright {
  display: flex;
  position: relative;
  top: 15rem;
  justify-content: center;
  cursor: pointer;
}
main .leftContent .copyright .rights {
  text-shadow: 0 1px lightgrey;
  color: #888888;
  font-size: 12px;
}
main .leftContent .container .leftFeatures .friends,
main .market {
  color: #05c505;
}
main .leftContent .container .leftFeatures .alarm,
main .person, main .controller, main .crypto, main .awards {
  color: rgba(0, 184, 245, 0.9882352941);
}
main .leftContent .container .leftFeatures .cloud, main .activity {
  color: #d900ff;
}
main .leftContent .container .leftFeatures .video {
  color: rgba(245, 0, 61, 0.9882352941);
}
main .leftContent .container .leftFeatures .seeMore {
  color: #b6b5b5;
}
main .leftContent .container .leftFeatures .poker {
  color: rgba(255, 1, 1, 0.7098039216);
}
main .leftContent .container .leftFeatures .amazon {
  color: lightslategray;
}
main .leftContent .container .leftFeatures .iconDescription {
  left: 35px;
  justify-content: center;
  text-align: left;
}
main .leftContent .container .leftFeatures .iconDescription:hover {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(143, 162, 246));
  width: 50%;
  border-radius: 10px;
  height: 1.5rem;
  left: 3rem;
}
main .borderSpaceLeft {
  box-sizing: border-box;
  width: 60%;
  display: flex;
  height: 1.5px;
  opacity: 0.5;
  box-shadow: 0.5px solid darkblue;
  border-radius: 100%;
  background-image: radial-gradient(lightgrey, lightgrey, lightgrey);
}
main .shortcut {
  position: relative;
}
main .shortcut .editShortcut {
  color: #888888;
}
main .rightContent {
  right: 0;
  overflow-y: auto;
}
main .rightContent .rightFeatures p {
  color: #888888;
}
main .rightContent .rightFeatures p,
main .see {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
main .rightContent .rightFeatures .see {
  color: royalblue;
  left: 4rem;
  border: none;
  height: 1.2rem;
  width: 3.6rem;
  background-color: inherit;
}
main .rightContent .rightFeatures .see.see:hover {
  background-color: lightgrey;
  border-radius: 1rem;
}
main .rightContent .rightFeatures .people .userRequest {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: block;
  position: absolute;
  top: 0.5rem;
}
main .rightContent .rightFeatures .people p {
  position: absolute;
  display: inline-block;
  text-align: left;
  height: 1rem;
  width: 8rem;
  top: -0.5rem;
  left: 4rem;
  color: rgba(0, 0, 0, 0);
}
main .rightContent .rightFeatures .requests {
  box-sizing: border-box;
  background-color: #f2f3f5;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 77%;
  height: 5rem;
  position: relative;
  display: flex;
  bottom: 1rem;
}
main .rightContent .rightFeatures .requests:hover {
  background-color: lightgrey;
}
main .rightContent .rightFeatures .requests .confirm,
main .rightContent .rightFeatures .requests .delete {
  display: flex;
  color: white;
  font-size: 0.5rem;
  position: relative;
  flex-direction: row;
  align-content: flex-start;
  height: 2rem;
  width: 4rem;
  top: 2rem;
  left: 2rem;
  border: none;
  text-align: center;
  border-radius: 0.5rem;
  justify-content: space-between;
}
main .rightContent .rightFeatures .requests .confirm {
  color: whitesmoke;
  background-color: royalblue;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.7rem;
  position: relative;
  display: flex;
  left: 1.2rem;
}
main .rightContent .rightFeatures .requests .confirm:hover {
  background-color: darkblue;
}
main .rightContent .rightFeatures .requests .delete {
  color: whitesmoke;
  background-color: #888888;
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.7rem;
  top: 0rem;
  left: 6rem;
}
main .rightContent .rightFeatures .requests .delete:hover {
  background-color: #afafaf;
}
main .rightContent .rightFeatures .requests .timeStamp {
  display: inline;
  color: #888888;
  font-size: 0.7rem;
  position: relative;
  align-items: center;
  left: 12rem;
  top: inherit;
}
main .borderSpaceRight {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  position: relative;
  height: 1px;
  opacity: 0.5;
  box-shadow: 0.5px solid darkblue;
  border-radius: 100%;
  background-image: radial-gradient(#ffffff, #a09a9a, #d3d3d3);
  top: -1.5rem;
}
main .rightContent .rightFeatures .birthdays {
  box-sizing: border-box;
  background-color: #f2f3f5;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 77%;
  height: 2rem;
  font-size: 1rem;
  position: relative;
  display: flex;
  top: -1rem;
}
main .rightContent .rightFeatures .birthdays:hover {
  background-color: #dfdfdf;
}
main .rightContent .rightFeatures .birthdays span {
  position: relative;
  display: flex;
  right: 4rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
}
main .rightContent .rightFeatures .birthdays .birthText {
  color: #888888;
  top: -3rem;
  right: 8px;
}
main .rightContent .rightFeatures .birthdays .cake {
  color: #8f34c0;
  display: flex;
  position: relative;
  right: 0.5rem;
}
main .rightContent .rightFeatures .chat span p {
  color: #afafaf;
}
main .rightContent .rightFeatures .chat {
  display: inline;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
  top: -3.2rem;
}
main .rightContent .rightFeatures .chat .additionalFeatures {
  display: inline-block;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}
main .rightContent .rightFeatures .chat .searchTab {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888888;
  top: 0.8rem;
  left: 8rem;
}
main .rightContent .rightFeatures .chat .searchTab:hover {
  background-color: lightgrey;
}
main .rightContent .rightFeatures .chat .moreTab {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888888;
  left: 11rem;
  top: -1.2rem;
}
main .rightContent .rightFeatures .chat .moreTab:hover {
  background-color: lightgrey;
}
main .rightFeatures .chat .searchTab,
main .moreTab {
  display: inline;
  position: relative;
  color: #888888;
}
main .rightFeatures .chat .usersChat .usersPhoto {
  border-radius: 50%;
  color: rgba(0, 0, 0, 0);
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  display: inline;
  padding: 1px;
}
main .rightFeatures .chat .usersChat .user1 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user1:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user1 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user1 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user1 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user2 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user2:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user2 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user2 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user2 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user3 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user3:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user3 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user3 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user3 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user4 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user4:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user4 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user4 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user4 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user5 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user5:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user5 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user5 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user5 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user6 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user6:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user6 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user6 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user6 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user7 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user7:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user7 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user7 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user7 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user8 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user8:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user8 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user8 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user8 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user9 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user9:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user9 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user9 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user9 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user10 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user10:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user10 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user10 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user10 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user11 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user11:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user11 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user11 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user11 .online:hover {
  color: greenyellow;
}
main .rightFeatures .chat .usersChat .user12 {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
}
main .rightFeatures .chat .usersChat .user12:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .chat .usersChat .user12 p {
  color: #0b0b0b;
  text-align: center;
  position: relative;
  display: inline;
  top: -0.7rem;
  font-size: 14px;
  margin-left: 1rem;
}
main .rightFeatures .chat .usersChat .user12 .online {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border-radius: 2px solid white;
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: green;
  font-weight: bold;
}
main .rightFeatures .chat .usersChat .user12 .online:hover {
  color: greenyellow;
}
main .rightFeatures .group {
  display: inline;
  position: relative;
  bottom: 6rem;
  color: #888888;
  font-size: 10px;
}
main .rightFeatures .group .groupPhoto {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  top: 0.2rem;
  position: relative;
  display: inline;
}
main .rightFeatures .group .family {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
  top: -5px;
}
main .rightFeatures .group .family:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .group .family p {
  color: #0b0b0b;
  font-size: 14px;
  display: inline;
  bottom: 10px;
}
main .rightFeatures .group .teamMates {
  background-color: #f2f3f5;
  color: black;
  width: 76%;
  height: 3rem;
  display: flex;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 3px;
  top: -5px;
}
main .rightFeatures .group .teamMates:hover {
  background-color: #dfdfdf;
}
main .rightFeatures .group .teamMates p {
  bottom: 25%;
}
main .rightFeatures .group p {
  color: #0b0b0b;
  font-size: 14px;
  display: inline;
  margin-left: 1rem;
  justify-content: center;
}
main .rightFeatures .group .newGroup {
  box-sizing: border-box;
  background-color: #f2f3f5;
  width: 77%;
  height: 3rem;
  display: flex;
  position: relative;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 2px 3px;
  bottom: 4px;
}
main .rightFeatures .group .newGroup:hover {
  background-color: lightgrey;
}
main .rightFeatures .group .newGroup p {
  color: #0b0b0b;
  font-size: 14px;
  display: flex;
  bottom: 9.5px;
  position: absolute;
  margin-left: 2rem;
  top: 1.5px;
}
main .rightFeatures .group .newGroup .plusCircle {
  font-size: 20px;
  align-items: center;
  display: flex;
  position: relative;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: #0b0b0b;
  justify-content: center;
  margin-top: 8px;
}
main .rightFeatures .group .newGroup .plusCircle:hover {
  background-color: lightgrey;
}
main .rightFeatures .group .plusMessage {
  display: flex;
  position: relative;
  box-sizing: border-box;
  color: white;
}
main .rightFeatures .group .plusMessage .newMessageDropdown {
  position: relative;
  display: flex;
  z-index: 1;
}
main .rightFeatures .group .plusMessage .newMessageDropdown button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  z-index: 1;
  padding: 10px;
  display: flex;
  bottom: 70px;
  right: -6rem;
  position: absolute;
  width: 8rem;
  justify-content: center;
  border-radius: 10px;
  border: 1.5px solid darkblue;
  overflow-y: auto;
}
main .rightFeatures .group .plusMessage .newMessageDropdown button:hover {
  background-color: lightgrey;
}
main .rightFeatures .group .plusMessage .newMessageDropdown .composeMessage {
  display: none;
  height: 4rem;
  width: 5rem;
  right: 15rem;
  position: relative;
  border-radius: 1rem;
  border: 1.5px solid darkblue;
  background-color: white;
}
main .rightFeatures .group .plusMessage .newMessageDropdown input[placeholder] {
  text-align: center;
  width: 20rem;
  display: flex;
}
main .rightFeatures .group .plusMessage .penOptions {
  font-size: 1rem;
  color: #888888;
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 7rem;
  margin-left: 50%;
  border: 1.5px solid darkblue;
  align-self: center;
  padding: 10px;
}
main .rightFeatures .group .plusMessage .penOptions:hover {
  background-color: lightgrey;
}
main .mainContent {
  width: 40%;
}
main .mainContent .post {
  box-shadow: 5px 5px 5px 5px lightgrey;
  margin: 3rem 0;
  padding: 1rem;
}
main .mainContent .post .postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .mainContent .post .postHeader .profileOptionsWrapper {
  position: relative;
}
main .mainContent .post .postHeader .profileOptionsWrapper .profileOptionsDropdown {
  position: absolute;
  z-index: 1;
  right: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: none;
}
main .mainContent .post .postHeader .profileOptions {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mainContent .post .postHeader .profileOptions:hover {
  background-color: lightgrey;
}
main .mainContent .post .postHeader .profileUserInfo {
  display: flex;
  align-items: center;
}
main .mainContent .post .postHeader .profileUserInfo .profileImageUser {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
main .mainContent .post .postHeader .profileUserInfo .profileName {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .mainContent .post .content .imgWrapper {
  position: relative;
}
main .mainContent .post .content .imgWrapper .imgContent {
  width: 100%;
}
main .mainContent .post .content .imgWrapper .infoIcon {
  position: absolute;
  right: 1rem;
  bottom: -0.5rem;
  font-size: 2rem;
  background-color: gray;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  cursor: pointer;
  color: white;
}
main .mainContent .post .content .postTitle {
  padding: 1rem;
}
main .mainContent .post .content .postDescription {
  padding: 1rem;
  margin: 0;
}
main .mainContent .post .reacts {
  display: flex;
  justify-content: space-between;
}
main .mainContent .post .reacts .reactsIcons {
  color: darkblue;
}
main .mainContent .post .actions {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
main .mainContent .post .actions .reaction {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: royalblue;
  border-radius: 1rem;
}
main .mainContent .post .actions .reaction:hover {
  color: teal;
  background-color: lightblue;
}
main .mainContent .post .commentSection {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  align-items: center;
  gap: 0.5rem;
}
main .mainContent .post .commentSection .newCommentField {
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #cbf2ff;
}
main .mainContent .post .commentSection .newCommentField::-moz-placeholder {
  color: royalblue;
}
main .mainContent .post .commentSection .newCommentField::placeholder {
  color: royalblue;
}
main .mainContent .post .commentSection .newCommentField:hover {
  background-color: #96ddf7;
  width: 85%;
}
main .mainContent .post .commentSection .profileImage {
  width: 2rem;
  border-radius: 50%;
  position: relative;
  margin-left: 6px;
}
main .mainContent .post .commentSection .insertCommentButton:hover {
  background-color: #00ffcb;
  border-radius: 0.5rem;
  color: teal;
}
main .mainContent .post .commentSection .insertCommentButton {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #888888;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px teal;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}
main .mainContent .post .commentSection .insertCommentButton::before {
  content: "";
  border-radius: 50%;
  min-width: calc(2rem + 10px);
  min-height: calc(2rem + 10px);
  border: 2px solid #00ffcb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}
main .mainContent .post .commentSection .insertCommentButton:hover, main .mainContent .post .commentSection .insertCommentButton:focus {
  color: #313133;
  transform: translateY(-2px);
}
main .mainContent .post .commentSection .insertCommentButton:hover, main .mainContent .post .commentSection .insertCommentButton::before, main .mainContent .post .commentSection .insertCommentButton:focus, main .mainContent .post .commentSection .insertCommentButton::before {
  opacity: 1;
}
main .mainContent .post .commentSection .insertCommentButton::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
main .mainContent .post .userComments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .mainContent .post .userComments .profileUserComment {
  display: flex;
  align-items: flex-start;
  margin-left: 1rem;
  gap: 0.5rem;
}
main .mainContent .post .userComments .profileUserComment .profileImage2 {
  width: 2rem;
  border-radius: 50%;
  bottom: 4px;
  position: relative;
}
main .mainContent .post .userComments .userCommentText {
  margin: 0 1rem;
  border: 1px solid lightgrey;
  padding: 1rem;
  border-radius: 1rem;
  background-color: S white;
  position: relative;
}
main .mainContent .post .userComments .userCommentText:hover {
  animation-name: comment-animation;
  animation-duration: 1s;
}
main .mainContent .post .userComments .userCommentText .emojiReaction {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
}
main .mainContent .post .userComments .commentReaction {
  margin-left: 3rem;
  color: #888888;
  display: flex;
  gap: 0.7rem;
}
main .mainContent .post .userComments:hover {
  cursor: pointer;
  text-decoration: underline;
}
@keyframes ring {
  0% {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
  }
  100% {
    width: 5.5rem;
    height: 5.5rem;
    opacity: 0;
  }
}
@keyframes comment-animation {
  from {
    left: -2rem;
  }
  to {
    left: 0rem;
  }
}

@media (max-width: 430px) {
  .leftContent {
    position: relative;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .rightContent {
    position: relative;
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=feed.css.map */