.rightContainer {
    top: 5rem;
    right: 0;
    width: 20rem;
    height: 90vh;
    border: 5px solid whitesmoke;
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    
    .rightNav {
        margin-top: -0.5rem;
    }

    .onlineUserName {
        margin-left: 1rem;
    }
}