.rightContainer {
    top: 5.5rem;
    right: 0;
    width: 20rem;
    height: 90vh;
    border: 5px solid whitesmoke;
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .rightNav {
        display: flex;
        align-items: center;
        justify-content: center;

        .onlineUserName {
            margin-left: 1rem;
        }
    }
}