* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.print-area {
  width: 80%;
  margin: 20px auto;
}
.print-area .header {
  width: 100%;
  height: 9.375rem;
  background-color: rgb(31, 34, 43);
  display: flex;
  align-items: center;
  position: relative;
}

.header img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  position: absolute;
  top: 3.125rem;
  left: 3.875rem;
  border: 0.313rem solid white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 5);
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
  filter: grayscale(100%);
}

.header img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 5);
}

.header-text {
  color: white;
  width: 60%;
  margin-left: auto;
}
.header-text h1 {
  font-size: 3.75rem;
  font-weight: normal;
}

.header-text p {
  font-size: 1.25rem;
  color: lightgray;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.25rem;
}

.left-area {
  width: 30%;
  background-color: rgb(217, 213, 213);
  text-align: center;
}

.left-area .contact {
  margin-top: 8.125rem;
  padding: 0 1.875rem;
  /* margin-left: 180px;
    padding: 0 30px; */
}

.contact h4 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 1.25rem 0;
}
.contact .LinkeDin {
}

.contact h5 {
  font-size: 1.125rem;
  margin: 0.625rem 0;
  text-shadow: 0.031rem 3;
}
.contact .link {
  cursor: pointer;
}

.contact p {
  font-size: 1.063rem;
}

.skills {
  margin-top: 1.25rem;
}
.skills h1 {
  font-size: 1.875rem;
  font-weight: normal;
}
.high-skills {
  margin-top: 1.875rem;
}
/* .high-skills h1{
    font-size: 30px;
    font-weight: normal;
} */
/* .bar{

} */
.bars {
  margin-top: 1.875rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem 0.625rem;
  padding: 0 1.875rem;
}

.bars .bar p {
  font-size: 0.938rem;
  font-weight: bold;
}

.bar span {
  display: block;
  width: 100%;
  height: 0.625rem;
  background-color: gray;
  margin-top: 0.625rem;
  border-radius: 0.625rem;
  position: relative;
}

.bar span::before {
  position: absolute;
  content: "";
  width: 85%;
  height: 80%;
  background-color: black;
  top: 50%;
  left: 0.125rem;
  transform: translateY(-50%);
  border-radius: 0.625rem;
}
.follow .facebook {
  cursor: pointer;
}
.follow h1 {
  margin-top: 1.25rem;
  font-size: 1.875rem;
  font-weight: normal;
}

.follow h4 {
  font-size: 1.125rem;
  margin: 0.625rem 0;
}

.follow p {
  font-size: 0.938rem;
  color: rgb(54, 18, 18);
}

.right-area {
  width: 70%;
  padding: 3.125rem;
}

.right-area h1 {
  font-size: 1.875rem;
  font-weight: normal;
}

.right-area h1 span {
  margin-right: 1.875rem;
  font-size: 3.125rem;
  color: rgb(68, 35, 35);
}

.right-area p {
  padding-left: 4.375rem;
  text-align: justify;
  /* word-break: break-all; */
  font-size: 1.063rem;
  color: rgb(49, 29, 29);
  margin-top: 0.625rem;
}
.work-group {
  margin: 0.625rem 0;
}
.work .work-group {
  position: relative;
}
.work-group h3 {
  font-size: 1.375rem;
  font-weight: normal;
  padding-left: 4.375rem;
}

.work-group span {
  position: absolute;
  top: -0.875rem;
  right: 0;
  color: black;
  font-weight: bold;
  font-size: 0.938rem;
}
.education {
  margin-top: 1.875rem;
}
.edu-group {
  position: relative;
  margin: 0.625rem 0;
}

.edu-group h4 {
  padding-left: 5rem;
  font-size: 1.25rem;
  font-weight: normal;
}
.edu-group span {
  position: absolute;
  top: -1.25rem;
  right: -0.25rem;
  font-size: 0.938rem;
  font-weight: bold;
}
/* #icon{
    position: absolute;
    left: 20px;
} */
.course-group {
  position: relative;
  margin: 0.625rem 0;
}
.course-group h4 {
  padding-left: 5rem;
  font-size: 1.25rem;
  font-weight: normal;
}

.course-group span {
  position: absolute;
  top: -1.25rem;
  right: -0.25rem;
  font-size: 0.938rem;
  font-weight: bold;
}
.information {
  padding: 0.625rem;
  position: relative;
  left: 4.188rem;
  word-spacing: 0.188rem;
}
.course-group p {
  padding-left: 4.688rem;
}
button {
  font-size: 1.563rem;
  padding: 0.625rem 1.25rem;
  margin: 3.125rem 0 0.313rem 8.75rem;
  background-color: rgba(83, 83, 83);
  border: none;
  outline: none;
  color: white;
  border-radius: 0.313rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: black;
  box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.5);
}

