* {
    font-size: 24px;
}

h1 {
    background-color: blue;
    color: white;
}

h2 {
    background-color: green;
}

h2 {
    background-color: aqua;
}

.myList {
    border: 1px solid red;
}

#cv {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid  black;
    width: 300px;
    height: 150px;
    margin-left: 15px;
    margin: 20px;
    padding: 20px 25px 30px 35px;
    text-align: center;
    box-sizing: border-box;
}

.purpose {
    color: purple;
}

p {
    color: #525252;
    font-size: 18px;
    color: blue;
}

p.second {
    color: black;
}

.experienceText {
    color: brown;
}