* {
    box-sizing: border-box;
}

body {
    background-color: #f6eeee;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: blue;
    margin-bottom: auto;
    padding: 40px 10px;
}

nav.menu ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 20px 50px;
    font-variant: small-caps;
    list-style: none;
}

ul li a:link {
    color: black;
}

ul li a:visited {
    color: blue;
}

.responsiveContainer {
    border: 2px solid #f8acb7;
    border-radius: 0.5rem;
    background-color: #efd9d9;
    width: 40vw;
    height: 80vh;
    display: inline-block;
    position: relative;
    border-right: none;
}

.responsiveItem {
    border: 3px solid #f8acb7;
    background-color: #ee6e6e40;
    width: 60%;
    height: 80%;
    margin-top: 9%;
    margin-left: 60%;
    position: absolute;
    border-radius: 0.5rem;
}

.responsiveImage {
    border-radius: 10rem;
    border: 1px solid #f8acb7;
    position: absolute;
    margin-top: 21%;
    margin-left: 77%;
    max-width: 100%;
}

.myDiv {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #f6eeee;
    font-size: 19px;
    width: 20%;
    color: blue;
    padding: 0 10px;
    text-align: center;
    margin-top: 10%;
    margin-left: 15%;
    position: absolute;
}

.myDiv::first-line {
    font-variant: small-caps;
    font-size: 23px;
}

footer {
    color: blue;
    padding: 50px 10px;
    text-align: left;
    font-size: small;
}

/* Responsive content */

@media only screen and (max-width: 1300px) {
    .myDiv {
        width: 30%;
        height: 50%;
        overflow: auto;
    }
    .responsiveContainer {
        width: 50%;
        left: 5%;
    }
}