* {
    box-sizing: border-box;
}

body {
    background-color: #f6eeee;
    font-family: 'Roboto', sans-serif;
}

h2 {
    justify-content: center;
    text-align: center;
    color: blue;
    padding-top: 40px;
    font-size: xx-large;
}

nav.menu ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 20px 50px;
    font-variant: small-caps;
    list-style: none;
}

ul li a:link {
    color: black;
}

ul li a:visited {
    color: blue;
}

label {
    color: blue;
    display: flex;
    flex-direction: column-reverse;
    font-size: 16px;
}

input {
    color: blue;
    background-color: #ee6e6e40;
    border: 1px solid lightpink;
    width: 15%;
    border-radius: 0.2rem;
}

input:focus {
    background-color: #f8acb7;
}

form {
    align-items: center;
    margin-left: 35%;
    padding: 15px;
}

textarea {
    width: 40%;
    border: 1px solid lightpink;
    overflow: auto;
    color: blue;
    font-size: large;
    border-radius: 0.5rem;
}

input[type="submit"] {
    width: 5%;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #f8acb7;
}

.contact {
    align-items: center;
    margin-left: 35%;
    color: blue;
    font-size: 16px;
    padding: 15px;
}

.leftFooter {
    color: blue;
    padding: 300px 10px 40px;
    text-align: left;
    font-size: small;
}

.rightFooter {
    font-size: 1.7rem;
    margin-left: 7rem;
    margin-top: -53rem;
}

.navIcons {
    color: blue;
}

/* Responsive content */

@media only screen and (max-width: 1300px) {
    input[type="submit"] {
        width: 10%;
        overflow: auto;
    }

    input {
        width: 35%;
    }
}


@media only screen and (max-width: 700px) {
    input[type="submit"] {
        width: 30%;
        overflow: auto;
    }

    input {
        width: 80%;
    }

    textarea {
        width: 80%;
    }

    .rightFooter {
        margin-left: 2rem;
    }
}