// @import '../../../node_modules/normalize-scss/sass/normalize';

@import 'normalize.css';
.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

    aside {
        width: 20rem;
        background-color: lightgray;
        height: 1000vh;
}