.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    .rightContainer {
        width: 20rem;
        background-color: lightgray;
        height: 90vh;
        top: 2rem;
        border: 5px solid whitesmoke;
        position: fixed;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .leftSide {
        width: 20rem;
        background-color: lightgray;
        height: 90vh;
        top: 5.5rem;
        border: 5px solid whitesmoke;
        position: fixed;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .newsfeed {
        width: 40rem;
        position: relative;
        left: 50rem;
    }
}