.sidebar {
  width: 20%;
  background-color: #f0f2f5;
  // background-color: red;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  &__header {
    h2 {
      margin-bottom: 20px;
    }
  }

  &__menu {
    .menu__item {
      display: flex;
      align-items: center; // Alinează iconița și textul pe verticală
      margin-bottom: 15px;
      font-size: 24px;
      
      a {
        display: block;
        color: #333;
        text-decoration: none;
        margin-left: 10px; // Mută iconița la stânga
        ;
        &:hover {
          color: #1877f2; // Culoare de accent pentru hover
        }
      }

      svg {
        // margin-right: 10px; 
        margin-left: 0.2rem;// Adaugă spațiu între iconiță și text
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 20px;
  }
}
