.leftSidePage {

  .sidebar {
    width: 25%;
    background-color: #f0f2f5;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;

    .sidebar__header {
      .myApp {
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: 3rem;
        margin-top: -1rem;
        cursor: pointer;
      }
    }

    &__menu {
      .menu__item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 24px;

        a {
          display: block;
          color: #333;
          text-decoration: none;
          margin-left: 10px;
          &:hover {
            color: #1877f2;
          }
        }

        svg {
          margin-left: 0.2rem;
        }

        // Stilurile pentru lista din Drawer
        ul {
          padding: 0;
          margin: 0;
        }

        // Stilurile pentru fiecare element din lista Drawer
        li {
          margin-bottom: 10px;
          font-size: 20px;
        }

        Stilurile pentru link-uri în lista Drawer
        a {
          color: #333;
          text-decoration: none;
          &:hover {
            color: #435974;
          }
        }
      }

      .more {
        margin-left: 11px;
        cursor: pointer;
        &:hover {
          color: #1877f2;
        }
      }
    }

    &__footer {
      position: absolute;
      bottom: 20px;
    }
  }
}
